In [1]:
import count_topics

In [2]:
dfs = count_topics.get_dfs(datafile='/Users/wataru/tmp/4-8-4-sub.txt')

/Users/wataru/.pyenv/versions/3.5.1/envs/ml/lib/python3.5/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by the normalize function.
  warnings.warn(msg, _DataConversionWarning)

In [3]:
dfs['Double'].describe()

,0,1,2,3,4,5,6,7
count,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000,161.000000
mean,0.123767,0.130791,0.128887,0.123170,0.125794,0.121010,0.124637,0.121944
std,0.014099,0.017482,0.016311,0.014226,0.013153,0.016262,0.013801,0.011743
min,0.078885,0.095464,0.091711,0.065512,0.090812,0.077264,0.089552,0.093429
25%,0.115336,0.119549,0.119001,0.116022,0.117391,0.111382,0.114338,0.115894
50%,0.123216,0.128300,0.126499,0.124152,0.124733,0.122614,0.123833,0.121716
75%,0.132416,0.138251,0.137934,0.131326,0.133995,0.131816,0.133808,0.128731
max,0.176130,0.186813,0.175033,0.162447,0.170787,0.166225,0.160532,0.157097